.modal-publicate-bg{
    position: absolute;
    background-color: #000a;
    height: 100%;
    width: 100%;
    z-index: 90;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-publicate{
    background-color: #222;
    height: fit-content;
    min-width: 200px;
    max-width: 500px;
    border-radius: 8px;
}

.publicate-top{
    color: #fff;
    font-size: .7rem;
    border-bottom: 1px solid #333;
    padding: 24px;
    text-align: center;
}

.drop-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 24px;
    margin-top: 10%;
    gap: 10px;
}

.drop-section img{
    width: 80%;
    border-radius: 8px;
}

.drop-section i{
    font-size: 4rem;
}

.drop-section input[type="text"]{
    padding: 8px 16px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    color: #fff;
}

.drop-section button{
    padding: 8px 16px;
    background-color: #48e;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.drop-section input{
    height: 100%;
}